extends ../layout

block content
	h1.
		Blob ID #{blob._id}
	form(action='/blobs/#{blob._id}/edit',method='post',name='updateblob',enctype='application/x-www-form-urlencoded')
		p Name:
			input#inputName(type='text', value='#{blob.name}', name='name')
		p Date:
			input#inputBadge(type='date', value='#{blob.date}', name='date')
		p Data:
			input#inputDob(type='textarea',  rows=4, columns=60, value='#{blob.data}', name='data')
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit').
				Update