extends ../layout

block content
    h1(style="display: none").Id #{blob._id}
    h2. 
      Name: #{blob.name}
    p Date: #{blob.date}
    p Version: #{blob.version}
    div
      Data #{blob.data}
